<form action="/form" method="post">
  <p>
    <h4>Gif Search</h4>
    <input type="text" name="text">
  </p>
  <p>
    <h4>Phone Number</h4>
    <input type="text" name="phone">
  </p>
  <input type="submit">
</form>